<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>resultadoPeticion</h1>
    <p th:text="'numero de peticion: ' + ${Peticion.numeroDePeticion}" />
    <p th:text="'Tipo de Licencia ' + ${Peticion.tipoDeLicencia}" />
    <p th:text="Dia Alta:' + ${Peticion.diaAlta}" />
    <p th:text="cantidad Dias:' + ${Peticion.cantDias}" />
     <p th:text="estado:' + ${Peticion.estado}" />
    <a href="/peticion">Submit another message</a>
</body>
</html>